<!DOCTYPE html>
<html>
  <head>
    <%= render "application/head" %>
  </head>
  <body class="echodek-app">
    <%= render "application/header" %>
    <%= yield %>
    <%= render "application/footer" %>
  </body>
</html>
